:root {
  --link-main: #fff;
  --link-secondary: #5135B7;
  --ff-primary: 'Open Sans', sans-serif;
  --ff-secondary: 'Playfair Display', serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--ff-primary);
  background: #F7F8FC;
}

header {
  background: url('/assets/images/Final.png');
  background-repeat: no-repeat;
  background-position: center -18em;
  min-height: 850px;
}

.max-960  {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding: 0 20px;
}

.header-bar {
  min-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: var(--link-main);
  text-transform: capitalize;
}

.nav {
  display: flex;
  list-style-type: none;
  gap: 2em;
}

.nav li a {
  text-transform: uppercase;
  color: var(--link-main);
}

.toggle-menu {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 1em;
  right: 0em;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.toggle-menu i {
  color: #fff;
  font-size: 1.5rem;
}

.show {
  display: flex;
}

.intro {
  color: var(--link-main);
  margin: 10em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}

.salutation, .sub-title {
  letter-spacing: 1px;
} 

.title {
  font-family: var(--ff-secondary);
  font-size: 4.5rem;
  font-size: clamp(2.3rem, 9vw, 4.5rem);
  text-align: center;
  margin-bottom: .2em;
} 

.sub-title {
  display: block;
  text-align: right;
} 

.ctas {
  display: flex;
  gap: 1.5em;
}

.cta {
  color: var(--link-secondary);
  border-radius: 25px;
  background: #fff;
  font-weight: bold;
  letter-spacing: .25px;
  padding: .5em 1.75em;
  transition: background ease .3s;
  box-shadow: 0 30px 40px 0 rgb(37 45 117/100%);
}

.cta:hover {
  background: var(--link-secondary);
  transition: background ease .5s;
  color: #fff;
}

main {
  margin: 13.5em 0;
  display: flex;
  flex-direction: column;
  gap: 13.5em;
  align-items: center;
}

main > section {
  min-height: 100vh;
}

.section-heading {
  font-size: 3rem;
  margin-bottom: 2.5em;
  font-family: var(--ff-secondary);
  text-transform: capitalize;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}

.about-img img{
  width: 200px;
}

.about p {
  text-align: center;
  margin: 1.5em 0;
  max-width: 600px;
  letter-spacing: 1.25px;
  font-size: 1.3rem;
}

.my-img {}

.tech-stack {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  display: grid;
  gap: 4em;
  width: 100%;
}

.stack {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.stack-column {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-wrap: wrap;
}

.stack-slot {
  padding: 2em;
  border-radius: 17px;
  background: #fff;
  box-shadow: 0 30px 40px 0 rgb(212 217 232 / 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
}

.stack-two {
  display: none;
}

footer {}

/* ************* */
/* MEDIA QUERIES */
/* ************* */

@media only screen and (max-width: 920px) {
  .stack-one {
    display: none;
  }

  .stack-two {
    display: flex;
  }

  .stack {
    flex-direction: column;
  }
  
  .stack-column {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .stack-slot {
    width: 175px;
  }

}

@media only screen and (max-width: 768px) {
  header {
    background: url('/assets/images/sm.png');
    background-repeat: no-repeat;
    background-position: center -20em;
    min-height: 720px;
  }

  .intro {
    margin-top: 8em;
  }
}

@media only screen and (max-width: 600px) {
  header {
    background-position: -1em -20em;
  }
}

@media only screen and (max-width: 600px) {
  header {
    background-position: -1em -25em;
    min-height: 640px;
  }

  .toggle-menu {
    display: flex;
  }

  .nav {
    display: none;
    position: absolute;
    flex-direction: column;
    border: 1px solid #000;
    background: #000c;
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 6em 0;
    width: 111%;
    top: 55px;
    margin: 0 -1.3em;
  }

  .toggle-menu:active, .toggle-menu:focus {
    color: red;
  }
  
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6em;
  }

  .sub-title {
    text-align: center;
    font-size: .8rem;
  }
}

@media only screen and (max-width: 380px) {
  header {
    background-position: -1em -25em;
    background-position:  -6em -25em;
  }
  
  .about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .intro {
    margin-top: 4em;
  }
  
  .title {
    line-height: 1.1em;
    margin: .5em 0;
  }

  .sub-title {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }
}